body {
    background-color: #F6FAFD;
    
}
@media screen  and (max-width:800px) {
    body{
        text-align: center;
    }

    
}
.nunito-sans-font {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500; 
    font-style: normal;
    font-variation-settings:
        "wdth" 100,   
        "wght" 500;   
}

.container {
    margin: 0 auto;
    max-width: 1140px;
}

@media screen and (max-width:768px) {
    .container{
        padding: 0 20px;
        max-width: 768px;
        margin:auto;
    }
    
}

a {
    text-decoration: none;
    color: #4B5D68;
}

li {
    display: block;
}
