
.login-container {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: auto; 
    margin-top: 50px; 
}


.login-container h1 {
    text-align: center;
    font-size: 24px;
    color: #333333;
    margin-bottom: 20px;
}


.login-container input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
    color: #495057;
}


.login-container button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-container button:hover {
    background-color: #0056b3;
}


.login-container p {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
}


.register-text {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #495057;
}

.register-text a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.register-text a:hover {
    text-decoration: underline;
}
