.hotel-details {
    display: flex;
    padding: 20px;
    font-family: Arial, sans-serif;
    position: relative; 
  }
  
  .hotel-details-image {
    width: 600px;
    height: 400px;
    border-radius: 8px;
    margin-right: 30px;
  }
  
  .hotel-info {
    max-width: 600px;
  }
  
  .hotel-details h2 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .hotel-details p {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    margin: 5px 0;
  }
  
  .price {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    bottom: -60px;
    left: 20px;
  }
  
  .characteristics {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  .characteristic {
    background-color: #ccc;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
    color: #333;
  }
  
  .characteristic:nth-child(1) {
    background-color: #333;
    color: #fff;
  }
  
  .characteristic:nth-child(2) {
    background-color: #4f9ea3;
    color: #fff;
  }
  .buttons {
    display: flex;
    gap: 15px;
    margin-top: 400px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px; 
    cursor: pointer;
    border: 2px solid #333;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .go-back-button {
    background-color: #fff;
    color: #333;
  }
  
  .go-back-button:hover {
    background-color: #333;
    color: #fff;
  }
  
  .add-to-cart-button {
    background-color: #333;
    color: #fff;
    border: none; 
  }
  
  .add-to-cart-button:hover {
    background-color: #555;
  }
  
  .ItemsFilter {
    width: 250px;
    height: 40px;
    margin-left: 30px;
    padding: 80px 12px;
    font-size: 16px;          
    border: 1px solid #ccc;  
    border-radius: 8px;      
    background-color: #fff;   
    cursor: pointer;          
    transition: border-color 0.3s ease; 
  }