main {
    display: flex; /* Використовуємо Flexbox для розташування зображення і тексту в один рядок */
    align-items: center; /* Вирівнює елементи по вертикалі (якщо є різна висота) */
    justify-content: space-between; /* Залишає простір між зображенням і текстом */
    padding: 20px;
    margin-top:50px;
}

.mainimg {
    width: 40%; /* Зображення займатиме половину ширини контейнера */
    height: auto; /* Автоматична висота, щоб зберегти пропорції зображення */
    margin-right: 20px;
    
    margin-left:40px; /* Відступ між зображенням і текстом */
}

.maintext {
    width: 50%; /* Текст займатиме другу половину ширини контейнера */
}

h2 {
    margin-top: 0; 
    font-size:40px;
}

p {
    line-height: 1.6;
    font-size:22px;
  
}
