.footer-container {
    background-color: #F0F8FF;
    padding: 20px;
    text-align: center;
    margin-top:80px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.branding {
    text-align: left;
    max-width: 300px;
}

.branding h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.branding p {
    color: #555;
    font-size: 0.9rem;
}

.logo img {
    width: 100px;
    height: auto;
}

.social-icons a {
    margin: 0 10px;
    text-decoration: none;
}

.social-icons img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #555;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}
